<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- <link rel="stylesheet" href="../../../../css/semantic.min.css"> -->
	<link rel="stylesheet" href="css/semantic.min.css">
	<link rel="stylesheet" href="css/inventory.css">
	<!-- <script src="../../../../js/vue.js"></script> -->
</head>
<body>
	<div id="app">
		<div style="margin-top: 3%"></div>
			<div class="inventory">
				<div class="ui two column centered grid">
					<div class="column">
						<center><h2>Inventory</h2></center>
						<br><br>
						<div class="inventory-item" v-for="item in items">
							<div class="ui grid">
								<div class="eight wide column">
									<p>{{ item.name }}</p>
								</div>
								<div class="four wide column">
									<button class="mini ui orange basic button">Drop</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
	<!--<script src="vue.js"></script>
	<script src="inventory-cef.js"></script>-->
</body>
</html>