<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<script src="js/jquery-3.1.0.min.js"></script>
	<script src="js/vue.js"></script>
	<script src="vuetest.js"></script>
</head>
<body>
	<div id="app" style="height: 50%; background: #fff;">
		<h2>Hello World</h2><br>
		<h1>{{ tinput }}</h1><br>
		<input type="text" v-model="tinput" placeholder="Some random input">
	</div>
</body>
</html>